name: Deploy Mcp Sentiment Client to Hugging Face hub
on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  deploy-client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Navigate to client directory
        run: cd mcp-client
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push https://mahimairaja:$HF_TOKEN@huggingface.co/spaces/mahimairaja/mcp-sentiment-client main